* {
  padding: 0;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

.hide-on-load {
  display: none;
}


a:link {
  text-decoration: none;
  cursor: pointer;
  color:#000;
}

a:visited {
  text-decoration: none;
  cursor: pointer;
  color:#000;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

body.dark-theme {
  background-color: #252f3f;
  color: #f5f3f3;
}

body.light-theme {
  background-color: #e8f6ff;
  color: #1a1919;
}

body {
  --background-color-dark: #252f3f;
  --background-color-light: #e8f6ff;
}


/* body.light-theme #poem-prompt {
  color: #6c7a91;
}
body.dark-theme #poem-prompt {
  color: #838b98;
}

body.light-theme #poem-input {
  color: #293345;
}
body.dark-theme #poem-input {
  color: #bec7d8;
} */

/* beginning of header css */
#title-logo {
  display: flex;
  align-items: center;
  margin-top: -37px;
}

#logo-img {
  max-width: 100%;
  height: auto;  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header.light-theme {
  background-color: #0b0e13;
  color: #fff;
  height: 100%;
}

header.dark-theme {
  background-color: #d5dbe5;
  color: rgb(15, 15, 15);
  height: 113px;
}

#home {
  width: 100%;
  height: 113px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dfe3ed;
}

/*
.shrink {
  transform: scale(0.5);
} */

/* #60759f and #394760 compliment each other with
this background as text colors */

#title {
/*   background-image: url('/images/oyster.png');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  margin-left: -11px;
  margin-top: 74px;
  margin-right: 43px;
  width: 120px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  flex-shrink: 1;
}

#logo {
  margin-left: 40px;
  margin-top: 35px;
  flex-shrink: 0;
}

.logo-click {
  cursor: pointer;
}

.title {
  overflow-wrap: break-word;
}

#menu-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  text-align: center;
}

.menu-bar-buttons {
  margin: 0 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

/* took this out because I ran into error when
trying to query the divs to animate the tooltips */
/* .menu-tooltips {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color:#000;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: -30px;
} */

/* begin heading tooltip styling section */

#settings {
  margin: auto;
  width: 30px;
}

#settings-tooltip {
  position: fixed;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 999;
  border: 1px solid #ccc;
}

#settings:hover+#settings-tooltip {
  display: flex;
}

#learn {
  width: 40px;
}

#learn-tooltip {
  position: fixed;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 999;
  border: 1px solid #ccc;
}

#learn:hover+#learn-tooltip {
  display: flex;
}

#journal {
  width: 35px;
}

#journal-tooltip {
  position: fixed;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 999;
  border: 1px solid #ccc;
}

#journal:hover+#journal-tooltip {
  display: flex;
}

#upvote {
  width: 30px;
}

#upvote-tooltip {
  position: fixed;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 999;
  border: 1px solid #ccc;
}

#upvote:hover+#upvote-tooltip {
  display: flex;
}

#comp {
  width: 30px;
}

#comp-tooltip {
  position: fixed;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 999;
  border: 1px solid #ccc;
}

#comp:hover+#comp-tooltip {
  display: flex;
}

/* end header tooltip styling section */

#pref {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  /* Horizontally center the images */
  align-items: center;
  /* Vertically center the images */
  margin-top: 38px;
}

#theme-toggle-div,
#profile-div {
  padding: 0 15px;
  box-sizing: border-box;
  justify-content: center;
  /* Horizontally center the images within their respective divs */
  align-items: center;
  /* Vertically center the images within their respective divs */
}

#theme-toggle-div {
  height: 50px;
  margin-top: 0px;
}

#theme-image {
  width: 35px;
  margin-top: 7px;
  height: auto;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

#profile-div {
  position: relative;
  /* display: inline-block; */
  width: 70px;
  height: 50px;
  z-index: 999;
}

#profile-photo {
  width: 50px;
  height: auto;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.dropdown-content {
  position: absolute;
}

@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  60% {
    transform: translate(-50%, -50%) scale(1.03);
  }

  90% {
    transform: translate(-50%, -50%) scale(1.001);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

#dropdown-items.dark-theme {
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dee0ee;
  max-width: 95px;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  color: #0f0f0f;
  animation: grow 1.5s infinite;
  position: relative;
  top: 35px;
  margin-left: -2px;
}

#dropdown-items.light-theme {
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #161618;
  max-width: 95px;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  color: #e7dede;
  animation: grow 1.5s infinite;
  position: relative;
  top: 35px;
  margin-left: -2px;
}

.dropdown-item {
  text-align: center;
  cursor: pointer;
}

/* end of header css */

/* beginning of poem div */
#products-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* body.dark-theme #title {
  color: #566b8e;
}
body.dark-theme #poem-input::placeholder {
  color: #566b8e;
}
body.dark-theme #poem-input::-webkit-input-placeholder {
  color: #566b8e;
}
body.dark-theme #poem-input::-moz-placeholder {
  color: #566b8e;
}
body.dark-theme #poem-input:-ms-input-placeholder {
  color: #566b8e;
} */



#bottom-bar {
  background-color: #dfe3ed;
  padding-top: 90px;
  margin-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column;
}

#bottom-bar div {
  flex: 1;
}

#live {
  width: 80px;
}

#contact-info {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -50px;
}


#infoButton {
  height: 35px;
  cursor: pointer;
  display: flex;
  margin-right: 25px;
  margin-left: 10px;
}

#info-image {
  width: 35px;
  opacity: 85%;
  transform: scale(0.85);
}

#info-image:hover {
  opacity: 90%;
}

.tooltip5 {
  position: fixed;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  z-index: 999;
  margin-top: -30px;
}

#infoButton:hover .tooltip5 {
  display: flex;
}

#infoButton,
#info-image {
  position: relative;
}

/*----------------------------------------------------------------
------------------------------- Submit Popup -----------------------
----------------------------------------------------------------*/

/* @keyframes pulsate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  90% {
    transform: translate(-50%, -50%) scale(1.002);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

#result-rectangle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background: linear-gradient(to bottom, #eae9e9, #293345); Gradient colors 
  display: none;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  z-index: 999;
/* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); 
  animation: pulsate 4s infinite;
  text-align: center;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

.result-rectangle-poem {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -15px;
  width: inherit;
  height: 68%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 15px 35px 0px 35px;
  overflow-wrap: break-word;
}

#result-rectangle-grid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: px;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.result-rectangle-button {
  width: 200px;
  height: 100px;
  background-color: #ccc;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  background: linear-gradient(to bottom, #eae9e9, #293345); /* Gradient colors  

} */

/*----------------------------------------------------------------
------------------------------- Info Popup -----------------------
----------------------------------------------------------------*/
#rectangleContainer {
  position: fixed;
  top: 0;
  right: -420px;
  /* Start off-screen */
  width: 275px;
  height: 540px;
  margin-top: 150px;
  margin-right: 20px;
  transition: right 0.3s ease-out;
}

#rectangle {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--background-color-light), var(--background-color-dark));
  /* Gradient colors */
  border-radius: 10px;
  /* Rounded corners */
}


#closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: monospace;
  margin-right: 4px;
  margin-top: -2px;
  color: rgb(57, 71, 96);
}

#toggle-tooltip {
  padding: 0 5px 0 5px;
}

.custom-button {
  font-family:'Times New Roman', Times, serif;
  background-color: #252f3f;
  color: #d4daea;
  transform: translate(50%, 50%);
  transition: 0.2s ease-in-out;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 18px;
}

.custom-button:hover {
  background-color: #e8f6ff;
  color: #374260;
}

.custom-button:active {
  background-color: #e8f6ff;
  color: #374260;
}

#popup-writing {
  color: rgb(57, 71, 96);
  padding: 20px;
  font-size: 14px;
  text-align: center;
}


/* -------------------------------- */

/* upvote.html */


.container {
  display: flex;
  align-items: flex-start;
}

.upvote-section {
  width: 100px;
  padding: 0 40px;
}

.vote-button {
  width: 20px;
  height: 20px;
  /* Add any additional styles for the vote buttons */
}

.content-section {
  flex-grow: 1;
  padding-left: 20px;
}

h2 {
  margin: 0;
}

.name {
  margin-top: 10px;
  /* Add any additional styles for the author name */
}

.comment-section {
  margin-top: 20px;
  /* Add any additional styles for the comment section */
}

/* icon hover */

#logo,
#title,
.menu-bar-buttons img,
#theme-image,
#profile-photo,
#new-prompt-button,
#poem-of-the-day-button,
#new-poem-button,
#submit-img,
#info-image {
  transition: transform 0.2s ease;
}

#new-prompt-button:hover,
#poem-of-the-day-button:hover,
#new-poem-button:hover,
#submit-img:hover,
#info-image:hover {
  transform: scale(0.9);
}

#logo:hover,
#title:hover,
#theme-image:hover,
#profile-photo:hover,
.menu-bar-buttons img:hover {
  transform: scale(1.1);
}

/* */

/* 3d effect */
.vector-art {
  border: 5px solid;
  border-image: linear-gradient(to right, #000, #fff) 1;
  border-image-slice: 1;
  margin: 5px;
  border-radius: 5px;

}

/* .vector-art {
  outline: 2px solid #000;
} */

.vector-art {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

/* */

/*----------------------------------------------------------------
------------------------------- Mail Chimp -----------------------
----------------------------------------------------------------*/

.button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 10px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 20px 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 428px;
}

.button:hover {
  background-color: #777;
}


/*----------------------------------------------------------------
------------------------------- About -----------------------
----------------------------------------------------------------*/

.container {
  display: flex;
  align-items: top;
  padding: 105px;
}

.image-container {
  flex: 0 0 auto;
  padding-right: 80px;
  /* Adjust the spacing between the image and text */
}

.image-container img {
  height: 300px;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px 1px rgba(246, 246, 246, 10);
}

/* 10px represents the horizontal offset of the shadow. 
It specifies how far the shadow should be positioned to the right or left of the element.
Positive values move the shadow to the right, while negative values move it to the left.

20px represents the vertical offset of the shadow. 
It specifies how far the shadow should be positioned below or above the element. 
Positive values move the shadow below the element, while negative values move it above.

1000px represents the blur radius of the shadow. 
It determines the amount of blurring applied to the shadow. 
Higher values create a more spread-out and blurred shadow, 
while lower values result in a sharper shadow. In this case, 
1000px creates a very blurred shadow.

5px represents the spread radius of the shadow. 
It specifies how much the shadow should expand or contract from its original size. 
Positive values expand the shadow, while negative values contract it. In this case, 
5px expands the shadow slightly.

rgba(246, 246, 246, 0.7) represents the color and opacity of the shadow. 
It specifies the red, green, blue, and alpha (transparency) values of the shadow color. 
In this case, the shadow color is a light gray (246, 246, 246) with an opacity of 0.7. 
The higher the alpha value, the more opaque the shadow appears. */

.text-container {
  flex: 1 1 auto;
  padding-left: 40px;
  margin-right: 160px;
  word-wrap: break-word;
}

.text-container #about {
  font-size: 40px;
  /* Adjust the font size of the header */
  margin-bottom: 10px;
  /* Adjust the spacing below the header */
  margin-top: -5px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;

}

.text-container #info {
  line-height: 1.8em;
}

#email {
  white-space: nowrap;
}

.text-container p {
  margin-bottom: 8px;
  /* Adjust the spacing between paragraphs */
}

/*----------------------------------------------------------------
------------------------------- grid -----------------------
----------------------------------------------------------------*/

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  padding-left: 105px;
  padding-right: 105px;
  margin-top: 90px;
  position: relative;
  margin-top: 120px;
}

.grid-item {
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none !important;
}

.grid-item:hover {
  opacity: 70%;
  color: #6381e5;
  color: #1C274C;
}

.grid-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);

}

.grid-item .title {
  margin-top: 5px;
}

.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer-info {
  height: 25px;
  padding-top: 75px;
  font-style: oblique;
}

#copyright {
  padding: 50px 0 0 0;
}

@media (max-width: 600px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }

  #name {
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-bar {
    text-align: left;
  }
}


/* items */

.navigation {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: auto;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 80px;
  transition: 0.4s ease-in-out;
  color: grey;

  /* Add your additional styles for the navigation section here */
}

#navigation2 {
  margin-top: 0px;
}

.navigation #backslash:hover {
  color: grey;
}

.navigation a {
  text-decoration: none;
  color: #505050;
  color: #d9d9d9;
}

.navigation a:hover {
  color: black;
  transition: 0.2s ease-in-out;
}

.navigation a:active {
  color: black;
  transition: 0.2s ease-in-out;
}

.back-to-work {
  color: black;
  margin-right: 1px;
}

.prev {
  margin-left: auto;
  white-space: nowrap;
  margin-right: -3px;
}

.next {
  margin-left: -3px;
  white-space: nowrap;
}

/* image #1 */
.grid-item-page {
  display: grid ;
  grid-template-columns: repeat(2, 5fr);
  row-gap: 50px;
  margin: 25px 100px 50px 100px;
  /* Add your additional styles for the grid-item page layout here */
}


.photo-gallery {
  display: grid;
  grid-template-columns: repeat(1, 5fr);
  grid-gap: 0px;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  /* Add your additional styles for the photo gallery section here */
}

.photo-item {
  color: black;
  /* Add your additional styles for each photo item here */
}

.photo-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* @media */

@media (min-width: 950px) {

  #work-bar {
    margin-left: 400px;
  }

  #photo-item-page {
    margin-right: 80px;
    margin-left: 80px;
  }

  #header {
    margin-left: 30px;
    margin-right: 30px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 75px;
    padding-right: 55px;
  }
}

@media (max-width: 1250px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 930px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 75px;
    padding-right: 55px;
  }
}

@media (max-width: 800px) {
  .grid-item-page {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 650px) {
  #header {
    margin-left: 30px;
    margin-right: 15px;
  }

  #nav-bar {
    margin-top: 20px;
    margin-left: 80px;
  }

  .grid {
    grid-template-columns: 1fr;
    padding-left: 65px;
    padding-right: 65px;
  }

  .grid-item-page {
    display: flow-root;
    margin-right: 40px;
    margin-left: 40px;
  }
}

/* ----------- all the pages where the things are ----*/

.photo-item {
  color: black;
  /* Add your additional styles for each photo item here */
}

.photo-item img {
  width: 100%;
  height: auto;
}

.description {
  /* Add your additional styles for the description section here */
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1.8em;
  text-align: center;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

#project-grid {
  margin-top: 80px;
}

@media (max-width: 800px) {
  .description {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 600px) {
  .description {
    padding-left: 1px;
    padding-right: 1px;
  }
}

@media (max-width: 400px) {
  .description {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* -------------------------------- */

@media (max-width: 930px) {

  #menu-bar {
    gap: 0px;
  }

  .menu-bar-buttons {
    margin: 0 12px;
  }

  #title-logo {
    margin-top: -5px;
  }


  #logo {
    transform: scale(0.8);
    margin-left: 25px;
  }

  #logo:hover {
    transform: scale(0.8);
  }

  #title {
    transform: scale(0.8);
    margin-left: -20px;
    margin-right: 15px;
    transition: margin-left 1s ease;
  }

  #title:hover {
    transform: scale(0.8);
  }

  #upvote {
    transform: scale(0.8);
  }

  #upvote:hover {
    transform: scale(0.9);
  }

  #comp {
    transform: scale(0.8);
  }

  #comp:hover {
    transform: scale(0.9);
  }

  #learn {
    transform: scale(0.8);
  }

  #learn:hover {
    transform: scale(0.9);
  }

  #live {
    transform: scale(0.8);
  }

  #live:hover {
    transform: scale(0.9);
  }

  #settings {
    transform: scale(0.8);
  }

  #settings:hover {
    transform: scale(0.9);
  }

  #journal {
    transform: scale(0.8);
  }

  #journal:hover {
    transform: scale(0.9);
  }

  #pref {
    width: 170px;
  }

  #theme-toggle-div {
    padding: 0 6px;
  }

  #theme-image {
    transform: scale(0.8);
  }

  #theme-image:hover {
    transform: scale(0.9);
  }

  #profile-photo {
    transform: scale(0.8);
  }

  #profile-photo {
    transform: scale(0.9);
  }
  .text-container {
    margin-right: 20px;
    transform: scale(0.8);
    margin-top: 10px;
  }
  .image-container {
    padding-right: 20px;
  }
  .image-container img {
    transform: scale(0.8);
  }

}

@media (max-width: 682px) {
  .menu-bar-buttons {
    margin: 6px;
  }

  #title-logo {
    margin-top: -5px;
  }

  #logo {
    margin-left: 10px;
  }

  #title {
    margin-left: -20px;
    margin-right: 1px;
  }

  #menu-bar {
    margin-left: 10px;
    margin-top: -40px;
  }

  #pref {
    width: 140px;
  }

  #theme-toggle-div {
    padding: 0;
  }

  #profile-div {
    margin-left: -10px;
  }

  #upvote {
    transform: scale(0.7);
  }

  #upvote:hover {
    transform: scale(0.8);
  }

  #comp {
    transform: scale(0.7);
  }

  #comp:hover {
    transform: scale(0.8);
  }

  #learn {
    transform: scale(0.7);
  }

  #learn:hover {
    transform: scale(0.8);
  }

  #live {
    transform: scale(0.7);
  }

  #live:hover {
    transform: scale(0.8);
  }

  #settings {
    transform: scale(0.7);
  }

  #settings:hover {
    transform: scale(0.8);
  }

  #journal {
    transform: scale(0.7);
  }

  #journal:hover {
    transform: scale(0.8);
  }
  
  .container {
    padding: 40px;
  }

  .image-container {
    padding-right: 1px;
    margin-left: 50px;
  }

  .image-container img {
    transform: scale(0.6);
  }

  .text-container {
    margin-right: 20px;
    transform: scale(0.8);
    margin-top: 23px;
    padding-left: 0px;
    transform: scale(0.6);
    margin-left: -20px;
  }
}